@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body{
  background-color: #001F3D;
}
button i {
	color: #045174;
}
.wrapper {
  max-width: 75%;
  margin: auto;
  
}

section {
	background-image: linear-gradient(0, rgb(0,0,0), #001f3d);
	margin: 0;
}

.wrapper {
	padding-bottom: 1%;
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.wrapper > h1 {
  letter-spacing: 3px;
  font-weight: 700;
}

.accordion {
  background-color: #f8ebeb;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  
}

.accordion i {
  font-size: 1.6rem;
}
/* 
.accordion:hover {
  background-color:#f8dcbf;
} */
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: #f8ebeb;
  overflow: hidden;
  background-color: #f8ebeb;
  display: none;
  font-family: "Roboto" sans-serif;
}
.pannel p {
  color: #000000b3;
  font-size: 1.2rem;
  line-height: 1.4;
  color: #001f3d;
  font-family: "Roboto" sans-serif !important;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
.faq.active {
  border: none;
}